*,body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 300px;
    height: 600px;
    background: rgb(230, 238, 238);
    position: relative;
}

.score-board {
    background: red;
    opacity: 0.5;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    border: 5px solid black;
    text-align: center;
    font-weight: bold;
}


.block {
    width: 100px;
    height: 100px;
}

.car {
    position: absolute;
    background: black;
}

.player {
    position: absolute;
    background: cyan;
}